.checkout {
  background-color: #d5d2d2;
}

.company_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
}

.select_wrapper {
  background-color: #eee;
  border-radius: 10px;
  padding: 5px 5px  5px 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.select {
  background-color: #eee;
  border: 1px solid transparent;
  outline: none;
}

.option-image {
  width: 30px;
  border-radius: 50%;
}

.form-wrapper {
  background-color: white;
}

.terms_button {
  background-color: white;
}
