.checkout {
  background-color: #d5d2d2;
}

.company_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
}

.select {
  background-color: #eee;
  border: 1px solid transparent;
  outline: none;
  border-radius: 10px;
  padding: 5px 15px;
}

.form-wrapper {
  background-color: white;
}

.terms_button {
  background-color: white;
}
