.checkout {
  background-color: #d5d2d2;
  padding: 15px 0px;
}

.company_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.select {
  background-color: tomato;
  padding: 10px;
}

.form-wrapper {
  background-color: white;
}


.terms_button {
  background-color: white;
}

