.primary,
.secondary,
.tertiary {
  padding: 15px 1.5%;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
  align-items: center;
  transition: transform 80ms ease-in;
}

.primary:focus,
.secondary:focus,
.tertiary:focus {
  outline: none;
}

.primary:active,
.secondary:active,
.tertiary:active {
  transform: scale(0.95);
}

.primary {
  background-color: black;
  color: white;
}

.secondary {
  background-color: white;
  color: black;
}

.tertiary {
  background-color: #ffffff70;
  color: rgb(152, 144, 144);
}

.cancel {
  color: red;
}

.inside_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
