.label_input {
  display: flex;
  flex-direction: column;
  //border: 1px solid red;
  position: relative;
  padding: 10px 0 10px 0;
  align-items: center;

  .label,
  .input {
    display: inline-block;
    transition: all 150ms;
  }

  .input {
    color: black;
    font-size: 25px;
    outline: none;
    border: 1px solid transparent;
    padding: 0px 0 0px 9px;
    color: #222;
    width: 100%;
    font-weight: 500;

    &:valid + .label {
      transform: translateY(-17px) scale(0.75);
    }

    &:focus {
      padding: 10px 0 0 9px;
    }

    &:focus + .label {
      transform: translateY(-17px) scale(0.75);
      padding: 10px 0 0 0px;
    }

    &:focus {
      outline: none;

      + .label {
     
      }
    }
  }

  .label {
    position: absolute;
    left: 10px;
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 0.125em;
    color: #8c8a8a;
    pointer-events: none;
    transform-origin: left center;
    transform: translateY(0) scale(1);
  }
}
