.navigation {
  background-color: white;
  border-bottom: 1px solid #b7b6b6;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  align-items: center;
}

.company_detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.company_logo {
}

.logo {
  width: 100px;
}

.company_name {
  font-weight: 500;
}
