.product_detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 15px;
}

.image_container {
  text-align: center;
}

.product_image {
  border-radius: 10%;
  width: 300px;
}

.name_price {
  display: flex;
  justify-content: space-between;
  
}

.product_name {
  font-weight: 500;
  font-size: 20px;
}

.product_price {
  color: gray;
  font-size: 20px;
  font-weight: 500;
}

.product_description{
  text-align: justify;
  font-size: 18px;
}

.button_container {
  display: flex;
  flex-direction: column;
}
